JSON/Face Detection.json
[
    {
        "id": "d1d47db59a048d9f",
        "type": "tab",
        "label": "Capstone Face Detection",
        "disabled": false,
        "info": ""
    },
    {
        "id": "9ed4172e09fd4c85",
        "type": "http request",
        "z": "d1d47db59a048d9f",
        "name": "",
        "method": "GET",
        "ret": "bin",
        "paytoqs": "ignore",
        "url": "http://172.16.2.76/capture",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 370,
        "y": 260,
        "wires": [
            [
                "be2302bd37d3bdcf"
            ]
        ]
    },
    {
        "id": "8266a35de559db79",
        "type": "file",
        "z": "d1d47db59a048d9f",
        "name": "",
        "filename": "",
        "appendNewline": false,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "setbymsg",
        "x": 820,
        "y": 160,
        "wires": [
            [
                "d47c8ef399d5b55e"
            ]
        ]
    },
    {
        "id": "be2302bd37d3bdcf",
        "type": "function",
        "z": "d1d47db59a048d9f",
        "name": "",
        "func": "msg.filename = \"/home/gbarron/capstone/src/cam_photos/\"+global.get (\"fecha\")+\".jpg\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 260,
        "wires": [
            [
                "8266a35de559db79"
            ]
        ]
    },
    {
        "id": "bd811d82ce417bdd",
        "type": "exec",
        "z": "d1d47db59a048d9f",
        "command": "python3 /home/gbarron/capstone/src/facecheckMQTT.py ",
        "addpay": "command",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 290,
        "y": 380,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "d47c8ef399d5b55e",
        "type": "function",
        "z": "d1d47db59a048d9f",
        "name": "",
        "func": "msg.command = \" -i \" +msg.filename + \" -j /home/gbarron/capstone/src/my_db/\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1020,
        "y": 260,
        "wires": [
            [
                "bd811d82ce417bdd",
                "a10a9f1f3a7faf1e"
            ]
        ]
    },
    {
        "id": "d6bcd5377b0b7956",
        "type": "ui_template",
        "z": "d1d47db59a048d9f",
        "group": "1b4921a5b094ee9c",
        "name": "Captura de IImagen",
        "order": 1,
        "width": 7,
        "height": 5,
        "format": "<iframe width=\"100%\" height=\"100%\"\n    src=\"http://172.16.2.76:81/stream\">\n</iframe>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 600,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "88fc9c39758e80dc",
        "type": "mqtt in",
        "z": "d1d47db59a048d9f",
        "name": "",
        "topic": "capstone/facial",
        "qos": "2",
        "datatype": "auto",
        "broker": "aa3107cbb6f29f72",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 540,
        "wires": [
            [
                "759e734576cad0db"
            ]
        ]
    },
    {
        "id": "759e734576cad0db",
        "type": "json",
        "z": "d1d47db59a048d9f",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 370,
        "y": 540,
        "wires": [
            [
                "0bde3fd4c60659d4"
            ]
        ]
    },
    {
        "id": "0bde3fd4c60659d4",
        "type": "function",
        "z": "d1d47db59a048d9f",
        "name": "",
        "func": "var lista = Object.keys(msg.payload).length;\nlet lst = [lista];\nfor (var i = 0; i < lista; i++) {\n    lst [i] = msg.payload[i][\"VGG-Face_cosine\"];\n}\nmsg.lista = lst;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 540,
        "wires": [
            [
                "39628b75c43e4a04"
            ]
        ]
    },
    {
        "id": "633b5a358ef33721",
        "type": "function",
        "z": "d1d47db59a048d9f",
        "name": "",
        "func": "var lista = Object.keys(msg.payload).length;\nfor (var i = 0; i < lista; i++) {\n    if (msg.max == msg.payload[i][\"VGG-Face_cosine\"]) {\n        msg.iden = msg.payload[i].identity;\n        msg.index = i;\n        return msg;\n    }\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1000,
        "y": 540,
        "wires": [
            [
                "6b3897981e907b57"
            ]
        ]
    },
    {
        "id": "da7fe27c47114e33",
        "type": "file in",
        "z": "d1d47db59a048d9f",
        "name": "",
        "filename": "",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 370,
        "y": 720,
        "wires": [
            [
                "8b80a2af360d77c6"
            ]
        ]
    },
    {
        "id": "8b80a2af360d77c6",
        "type": "json",
        "z": "d1d47db59a048d9f",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 570,
        "y": 720,
        "wires": [
            [
                "681aec220ea4ce3f",
                "96617b5514fd06cc",
                "f7817acc7a363811"
            ]
        ]
    },
    {
        "id": "9953c9e23533844b",
        "type": "ui_button",
        "z": "d1d47db59a048d9f",
        "name": "",
        "group": "d95312025038bb8e",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Analizar",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 140,
        "y": 260,
        "wires": [
            [
                "9ed4172e09fd4c85"
            ]
        ]
    },
    {
        "id": "681aec220ea4ce3f",
        "type": "ui_text",
        "z": "d1d47db59a048d9f",
        "group": "d95312025038bb8e",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Persona detectada",
        "format": "{{msg.payload.nombre}}",
        "layout": "row-spread",
        "className": "",
        "x": 990,
        "y": 720,
        "wires": []
    },
    {
        "id": "36ed99d46fa75e10",
        "type": "ui_text",
        "z": "d1d47db59a048d9f",
        "group": "d95312025038bb8e",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Porcentaje de certeza",
        "format": "{{msg.max}}",
        "layout": "row-spread",
        "className": "",
        "x": 1040,
        "y": 780,
        "wires": []
    },
    {
        "id": "96617b5514fd06cc",
        "type": "function",
        "z": "d1d47db59a048d9f",
        "name": "",
        "func": "msg.max = 100 - msg.max * 100;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 780,
        "wires": [
            [
                "36ed99d46fa75e10"
            ]
        ]
    },
    {
        "id": "9572b51ea83460e3",
        "type": "inject",
        "z": "d1d47db59a048d9f",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 100,
        "wires": [
            [
                "dce312d34bbd3e7a"
            ]
        ]
    },
    {
        "id": "dce312d34bbd3e7a",
        "type": "function",
        "z": "d1d47db59a048d9f",
        "name": "",
        "func": "global.set (\"fecha\", msg.payload);\nglobal.set (\"IP\", \"172.16.2.154\")\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "39628b75c43e4a04",
        "type": "calculator",
        "z": "d1d47db59a048d9f",
        "name": "",
        "inputMsgField": "lista",
        "outputMsgField": "max",
        "operation": "max",
        "constant": "",
        "round": false,
        "decimals": 0,
        "x": 800,
        "y": 540,
        "wires": [
            [
                "633b5a358ef33721"
            ]
        ]
    },
    {
        "id": "6b3897981e907b57",
        "type": "string",
        "z": "d1d47db59a048d9f",
        "name": "",
        "methods": [
            {
                "name": "append",
                "params": [
                    {
                        "type": "msg",
                        "value": "iden"
                    }
                ]
            },
            {
                "name": "delRightMost",
                "params": [
                    {
                        "type": "str",
                        "value": "/"
                    }
                ]
            },
            {
                "name": "append",
                "params": [
                    {
                        "type": "str",
                        "value": "/info.json"
                    }
                ]
            }
        ],
        "prop": "",
        "propout": "filename",
        "object": "str",
        "objectout": "msg",
        "x": 150,
        "y": 720,
        "wires": [
            [
                "da7fe27c47114e33",
                "5f85535eee231061"
            ]
        ]
    },
    {
        "id": "a10a9f1f3a7faf1e",
        "type": "debug",
        "z": "d1d47db59a048d9f",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "command",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1300,
        "y": 220,
        "wires": []
    },
    {
        "id": "5f85535eee231061",
        "type": "debug",
        "z": "d1d47db59a048d9f",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "filename",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 270,
        "y": 800,
        "wires": []
    },
    {
        "id": "f7817acc7a363811",
        "type": "debug",
        "z": "d1d47db59a048d9f",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.nombre",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1080,
        "y": 660,
        "wires": []
    },
    {
        "id": "c2a2799980ad96ed",
        "type": "ui_spacer",
        "z": "d1d47db59a048d9f",
        "name": "spacer",
        "group": "61ec25a9be0ed64a",
        "order": 2,
        "width": 1,
        "height": 1
    },
    {
        "id": "0e079e8fd1ce54db",
        "type": "ui_spacer",
        "z": "d1d47db59a048d9f",
        "name": "spacer",
        "group": "61ec25a9be0ed64a",
        "order": 2,
        "width": 1,
        "height": 1
    },
    {
        "id": "1b4921a5b094ee9c",
        "type": "ui_group",
        "name": "Captura de Imagen",
        "tab": "df3eb9a279d8b929",
        "order": 1,
        "disp": true,
        "width": "7",
        "collapse": false,
        "className": ""
    },
    {
        "id": "aa3107cbb6f29f72",
        "type": "mqtt-broker",
        "name": "LocalHost",
        "broker": "localhost",
        "port": "1883",
        "clientid": "gbarron-integra2",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "d95312025038bb8e",
        "type": "ui_group",
        "name": "Display Datos",
        "tab": "df3eb9a279d8b929",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "61ec25a9be0ed64a",
        "type": "ui_group",
        "name": "Display QrCode",
        "tab": null,
        "order": 2,
        "disp": true,
        "width": 10,
        "collapse": false,
        "className": ""
    },
    {
        "id": "df3eb9a279d8b929",
        "type": "ui_tab",
        "name": "Reconocimiento Facial",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]