node-red/genera QrCode.json
[
    {
        "id": "d9ac5495760b4fa9",
        "type": "tab",
        "label": "Capstone Generate Code QR",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "7ce3a58a0479f58f",
        "type": "ui_form",
        "z": "d9ac5495760b4fa9",
        "name": "",
        "label": "Ingresar datos para generar QrCode",
        "group": "5ed86a0b10818742",
        "order": 1,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Còdigo QR",
                "value": "code",
                "type": "text",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "code": ""
        },
        "payload": "",
        "submit": "Generar",
        "cancel": "Cancelar",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "x": 150,
        "y": 100,
        "wires": [
            [
                "1284de884f886cfc"
            ]
        ]
    },
    {
        "id": "1284de884f886cfc",
        "type": "function",
        "z": "d9ac5495760b4fa9",
        "name": "",
        "func": "query = \"SELECT * from producto WHERE codigo = '\" + msg.payload.code + \"'\";\nmsg.topic = query;\nmsg.command = \" -c \" + msg.payload.code;\nmsg.payload = \"http://192.168.1.70:5000/\" + msg.payload.code;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 80,
        "wires": [
            [
                "8d074fe4d7eb3731",
                "119516a204302eec",
                "2eef85a924980ee6",
                "943fada1aa2052cf"
            ]
        ]
    },
    {
        "id": "8d074fe4d7eb3731",
        "type": "exec",
        "z": "d9ac5495760b4fa9",
        "command": "python3 /home/gbarron/capstone/src/generate_qrcode.py",
        "addpay": "command",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 550,
        "y": 420,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "119516a204302eec",
        "type": "ui_template",
        "z": "d9ac5495760b4fa9",
        "group": "c4ac8c7628e3b9b0",
        "name": "",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<style>\n \n\n.open{\n    background-image: url(\"https://chart.googleapis.com/chart?chs=500x500&cht=qr&chld=H&chl={{msg.payload}}\");\n    background-repeat: no-repeat;\n    background-position: center;\n    width: 100%;\n    height:500px;\n}\n\n\n</style>\n\n\n<div class=\"open\">\n\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 540,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "7c8b1fc27e84f0b5",
        "type": "debug",
        "z": "d9ac5495760b4fa9",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload[0].nombre",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 870,
        "y": 180,
        "wires": []
    },
    {
        "id": "2eef85a924980ee6",
        "type": "sqlite",
        "z": "d9ac5495760b4fa9",
        "mydb": "2f6110cac9bde9d5",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "",
        "x": 500,
        "y": 280,
        "wires": [
            [
                "7c8b1fc27e84f0b5",
                "7810461796fcf466",
                "392f5a1c56515d47",
                "da0f5a863937d076",
                "262aff836817d818",
                "141e879cf81324ca",
                "c1baa51c1cc2f217"
            ]
        ]
    },
    {
        "id": "7810461796fcf466",
        "type": "ui_text",
        "z": "d9ac5495760b4fa9",
        "group": "2d18fb90eb2616a5",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Nombre",
        "format": "{{msg.payload[0].nombre}}",
        "layout": "row-left",
        "className": "",
        "x": 1060,
        "y": 220,
        "wires": []
    },
    {
        "id": "392f5a1c56515d47",
        "type": "ui_text",
        "z": "d9ac5495760b4fa9",
        "group": "2d18fb90eb2616a5",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Precio",
        "format": "{{msg.payload[0].precio}}",
        "layout": "row-spread",
        "className": "",
        "x": 1050,
        "y": 380,
        "wires": []
    },
    {
        "id": "da0f5a863937d076",
        "type": "ui_text",
        "z": "d9ac5495760b4fa9",
        "group": "2d18fb90eb2616a5",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Descripciòn",
        "format": "{{msg.payload[0].descripcion}}",
        "layout": "row-spread",
        "className": "",
        "x": 1070,
        "y": 440,
        "wires": []
    },
    {
        "id": "262aff836817d818",
        "type": "ui_text",
        "z": "d9ac5495760b4fa9",
        "group": "2d18fb90eb2616a5",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Ofertas",
        "format": "{{msg.payload[0].oferta}}",
        "layout": "row-spread",
        "className": "",
        "x": 1060,
        "y": 500,
        "wires": []
    },
    {
        "id": "141e879cf81324ca",
        "type": "ui_text",
        "z": "d9ac5495760b4fa9",
        "group": "2d18fb90eb2616a5",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Còdigo",
        "format": "{{msg.payload[0].codigo}}",
        "layout": "row-left",
        "className": "",
        "x": 1060,
        "y": 260,
        "wires": []
    },
    {
        "id": "c1baa51c1cc2f217",
        "type": "ui_text",
        "z": "d9ac5495760b4fa9",
        "group": "2d18fb90eb2616a5",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "En existencias",
        "format": "{{msg.payload[0].existencia}}",
        "layout": "row-spread",
        "className": "",
        "x": 1080,
        "y": 320,
        "wires": []
    },
    {
        "id": "943fada1aa2052cf",
        "type": "exec",
        "z": "d9ac5495760b4fa9",
        "command": "sh /home/gbarron/capstone/src/upflask.sh",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "Levantar Flask",
        "x": 420,
        "y": 480,
        "wires": [
            [],
            [],
            [
                "d4ba4236bc10b1db"
            ]
        ]
    },
    {
        "id": "d4ba4236bc10b1db",
        "type": "debug",
        "z": "d9ac5495760b4fa9",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 650,
        "y": 500,
        "wires": []
    },
    {
        "id": "5ed86a0b10818742",
        "type": "ui_group",
        "name": "Captura Code",
        "tab": "a97f49407ea47e44",
        "order": 1,
        "disp": true,
        "width": 8,
        "collapse": false,
        "className": ""
    },
    {
        "id": "c4ac8c7628e3b9b0",
        "type": "ui_group",
        "name": "Display QrCode",
        "tab": "a97f49407ea47e44",
        "order": 2,
        "disp": true,
        "width": 8,
        "collapse": false,
        "className": ""
    },
    {
        "id": "2f6110cac9bde9d5",
        "type": "sqlitedb",
        "db": "/home/gbarron/capstone/src/capstone.db",
        "mode": "RWC"
    },
    {
        "id": "2d18fb90eb2616a5",
        "type": "ui_group",
        "name": "Display Producto",
        "tab": "a97f49407ea47e44",
        "order": 3,
        "disp": true,
        "width": 8,
        "collapse": false,
        "className": ""
    },
    {
        "id": "a97f49407ea47e44",
        "type": "ui_tab",
        "name": "Codigo QrCode",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    }
]