node-red/simula insercion cliente.json
[
    {
        "id": "4b5f0c260f4dad48",
        "type": "tab",
        "label": "Capstone Visita Cliente",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f523b39134518253",
        "type": "inject",
        "z": "4b5f0c260f4dad48",
        "name": "",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "30",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "select * from cliente order by email",
        "x": 110,
        "y": 80,
        "wires": [
            [
                "3e1afd7703bd0139"
            ]
        ]
    },
    {
        "id": "3e1afd7703bd0139",
        "type": "sqlite",
        "z": "4b5f0c260f4dad48",
        "mydb": "2f6110cac9bde9d5",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "Simula Cliente",
        "x": 280,
        "y": 80,
        "wires": [
            [
                "bec410ddcf097d67"
            ]
        ]
    },
    {
        "id": "bec410ddcf097d67",
        "type": "function",
        "z": "4b5f0c260f4dad48",
        "name": "",
        "func": "var tam = Object.keys(msg.payload).length;\n\nnume = Math.floor(Math.random() * tam);\nemail = \"\";\nfor (var i = 0; i < tam; i++) {\n    if (nume == i) {\n       email = msg.payload[i].email;\n       break;\n    }\n}\n\n\nconst today = new Date();\nday = Math.floor(Math.random() * 31);\n\nvar mm = today.getMonth()+1; \nvar yyyy = today.getFullYear();\n\n\nif (day < 10) {\n     dd = \"0\" + day.toString();\n} else {\n    dd = day.toString();\n}\n\nif (mm < 10) {\n     mm = \"0\" + mm.toString();\n}\n\nfecha = yyyy + \"-\" + mm + \"-\" + dd;\n\nsql = \"Insert Into visita(email, fecha) values ('\" + email + \"','\" + fecha + \"')\";\n\nmsg.data = {\"longitud\": tam, \"numero\": nume, \"email\": email}\nmsg.topic = sql;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 80,
        "wires": [
            [
                "37dfeec7a885f34d",
                "4e8b7568a94a6863",
                "0da34df8da8f8dcc"
            ]
        ]
    },
    {
        "id": "37dfeec7a885f34d",
        "type": "debug",
        "z": "4b5f0c260f4dad48",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "topic",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 380,
        "wires": []
    },
    {
        "id": "4e8b7568a94a6863",
        "type": "debug",
        "z": "4b5f0c260f4dad48",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "data",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 330,
        "y": 180,
        "wires": []
    },
    {
        "id": "0da34df8da8f8dcc",
        "type": "sqlite",
        "z": "4b5f0c260f4dad48",
        "mydb": "2f6110cac9bde9d5",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "Inserta Visita",
        "x": 290,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "2f6110cac9bde9d5",
        "type": "sqlitedb",
        "db": "/home/gbarron/capstone/src/capstone.db",
        "mode": "RWC"
    }
]