node-red/simula insercion cliente.json
[
    {
        "id": "4b5f0c260f4dad48",
        "type": "tab",
        "label": "Capstone Visita Cliente",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f523b39134518253",
        "type": "inject",
        "z": "4b5f0c260f4dad48",
        "name": "",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "60",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "select * from cliente order by email",
        "x": 110,
        "y": 80,
        "wires": [
            [
                "3e1afd7703bd0139"
            ]
        ]
    },
    {
        "id": "3e1afd7703bd0139",
        "type": "sqlite",
        "z": "4b5f0c260f4dad48",
        "mydb": "2f6110cac9bde9d5",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "Simula Cliente",
        "x": 280,
        "y": 80,
        "wires": [
            [
                "0b5740ac6405f9d7"
            ]
        ]
    },
    {
        "id": "0b5740ac6405f9d7",
        "type": "json",
        "z": "4b5f0c260f4dad48",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 470,
        "y": 80,
        "wires": [
            [
                "bec410ddcf097d67"
            ]
        ]
    },
    {
        "id": "bec410ddcf097d67",
        "type": "function",
        "z": "4b5f0c260f4dad48",
        "name": "",
        "func": "var lista = Object.keys(msg.payload).length;\nlet lst = [lista];\nfor (var i = 0; i < lista; i++) {\n    lst [i] = msg.payload[i][\"email\"];\n}\n\nnume = Math.floor(Math.random() * lista);\n//const fecha = new Date().toString();\nconst fecha = lista.toString();\nsql = \"Insert Into visitas(email, fecha) values ('\" + lst[nume] + \"','\" + fecha + \"')\";\n\nmsg.lista = lst;\nmsg.topic = sql;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 80,
        "wires": [
            [
                "37dfeec7a885f34d"
            ]
        ]
    },
    {
        "id": "37dfeec7a885f34d",
        "type": "debug",
        "z": "4b5f0c260f4dad48",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 730,
        "y": 380,
        "wires": []
    },
    {
        "id": "2f6110cac9bde9d5",
        "type": "sqlitedb",
        "db": "/home/gbarron/capstone/database/proyecto.db",
        "mode": "RWC"
    }
]